<form class="form">
        <fieldset>
            <legend></legend>
                <div class="card">
                    <div class="card-number">
                        <span class="card-number-style">12</span>
                    </div>
                    <ul class="time-time-list">
                        <li class="time-time-list__item">
                            <input class="time-time-list__input" type="radio" name="freetime"  checked>
                            <label class="time-time-list__item__label">10 часов</label>
                        </li>
                        <li class="time-time-list__item">
                            <input class="time-time-list__input" type="radio" name="freetime">
                            <label class="time-time-list__item__label">11 часов</label>
                        </li>
                        <li class="user-application-list__item">
                            <input class="time-time-list__input" type="radio" name="freetime">
                            <label class="time-time-list__item__label">12 часов</label>
                        </li>
                        <li class="user-application-list__item">
                            <input class="time-time-list__input" type="radio" name="freetime">
                            <label class="time-time-list__item__label">13 часов</label>
                        </li>
                        <li class="user-application-list__item">
                            <input class="time-time-list__input" type="radio" name="freetime">
                            <label class="time-time-list__item__label">14 часов</label>
                        </li>
                        <li class="user-application-list__item">
                            <input class="time-time-list__input" type="radio" name="freetime">
                            <label class="time-time-list__item__label">15 часов</label>
                        </li>
                        <li class="user-application-list__item">
                            <input class="time-time-list__input" type="radio" name="freetime">
                            <label class="time-time-list__item__label">16 часов</label>
                        </li>
                        <li class="user-application-list__item">
                            <input class="time-time-list__input" type="radio" name="freetime">
                            <label class="time-time-list__item__label">17 часов</label>
                        </li>
                        <li class="user-application-list__item">
                            <input class="time-time-list__input" type="radio" name="freetime">
                            <label class="time-time-list__item__label">18 часов</label>
                        </li>
                    </ul>
                </div>
        </fieldset>
    </form>

