<div class="container">
    <div class="card m-3 p-4">
        {{#if message}}
            <p>{{this.message}}</p>
        {{/if}}
        <p>Please set a time and date to handle the exam with student</p>
        <br>
        <form action="/admin/submitTime" method="POST">
            <div class="form-group">
                <label>Date:</label>
                <input class="border form-control" type="date" id="start" name="date"
                       min="2019-01-01" max="2019-12-31" required/>
            </div>
            <div class="form-group">
                <label>Time:</label>
                <input class="border form-control" type="text" name="time" placeholder="14:00" required/>
            </div>
            <input type="submit" class="btn btn-success" value="Submit">
        </form>
    </div>
</div>