body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.card-time-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
  margin-bottom: 20px;
  
}
.card-number-style {
  display: block;
  font-size: 40px;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
 
}

.mycard {
  width: 350px;
  margin-bottom: 80px;
  margin-left: 20px;
  padding: 20px;
}

.card-time-item {
  margin-right: 10px;

}
.time-time-list__label{
  margin-right: 10px;
}

.card-number {
  padding-bottom: 20px;
}
.button {
  display: flex;
  margin-left: 50%;
}
.form {
  display: flex;
  flex-wrap: wrap;
  
}